
    h1{
        background-color: #ae1a1a;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #f0f0f0;
      margin: 0;
    }

    .cont {
      width: 90%;
      max-width: 400px;
      background-color: black;
      padding: 15px;
      border-radius: 15px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 13px;
    }

    input {
      grid-column: 1/5;
      text-align: right;
      padding: 15px;
      font-size: 1.5rem;
      border-radius: 10px;
      border: none;
    }

    button {
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      min-height: 60px;
      border: none;
      cursor: pointer;
    }

    .c20 {
      grid-column: 3/5;
    }

    .c2, .c3, .c4, .c5, .c9, .c13, .c17, .c20 {
      background-color: rgb(79, 147, 248);
    }

    button:hover {
      opacity: 0.8;
    }

    @media (max-width: 500px) {
      button {
        font-size: 1rem;
        min-height: 50px;
      }

      input {
        font-size: 1.2rem;
      }
    }